In [2]:
import pandas as pd
import numpy as np

In [3]:
path = 'poblacion_global_2020.csv'

# Ejercicio

Examina detenidamente el siguiente dataset y responde las siguientes preguntas:

* ¿Porqué cumple con las condiciones de Tidy Data?
Cada fila en una tabla es una observación y cada columna es una característica de dicha información

* ¿Cuál es el data point principal y cual es la meta data?
El data point principal es la población que hay en un determinado pais.

* Si quisieramos saber más sobre los niveles educativos globales ¿Qué otras características necesitariamos para este data set?
Población con determinado nivel educativo. Por ejemplo: población con estudios universitarios, población con estudios de bachiller, población con Educación Secundaria Obligatoria

* ¿Qué tipo de análisis harías con este data set?
1. Estadistica descriptiva explorando los datos y visualizando si hay que hacer algun proceso de corrección de datos.
2. Estadistica inferencial para analizar las relaciones entre la cantidad de población, la edad promedio, la tasa de fertilidad y el % de población urbana.

In [4]:
#Visualización datos
df = pd.read_csv(path)

df.head()

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba
0,China,1440297825,153,9388211,-348399.0,1.7,38,61 %
1,India,1382345085,464,2973190,-532687.0,2.2,28,35 %
2,Estados Unidos,331341050,36,9147420,954806.0,1.8,38,83 %
3,Indonesia,274021604,151,1811570,-98955.0,2.3,30,56 %
4,Pakistán,221612785,287,770880,-233379.0,3.6,23,35 %

# Ejercicios:

Manipula el dataset, de manera que respondas las siguientes preguntas:

1. ¿Cual es el promedio de Tasa de Fertilidad global?
2. ¿Que país tiene la Edad Promedio más alta y cual la más baja?
3. Agrupa los países por continente y obtén la mediana de la población urbana
4. ¿Qué otro de cálculo de interés (usando estas variables) crees pertinente para comparar la calidad de vida a nivel global? ¿Porqué?

1. ¿Cual es el promedio de Tasa de Fertilidad global?

Media: 2.6930348258706465

In [5]:
df.columns # Listar columnas

Index(['Pais', 'Poblacion (2020)', 'Densidad', 'Territorio (Km²)',
       'Tasa Migracion', 'Tasa Fertilidad', 'Edad Promedio',
       '% Poblacion Urbaba'],
      dtype='object')

In [6]:
df.shape # Número de filas y columnas

(214, 8)

In [7]:
# Primer repaso, tipo de dato
df.dtypes

Pais                   object
Poblacion (2020)        int64
Densidad                int64
Territorio (Km²)        int64
Tasa Migracion        float64
Tasa Fertilidad        object
Edad Promedio          object
% Poblacion Urbaba     object
dtype: object

In [8]:
# Datos faltantes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pais                214 non-null    object
 1   Poblacion (2020)    214 non-null    int64
 2   Densidad            214 non-null    int64
 3   Territorio (Km²)    214 non-null    int64
 4   Tasa Migracion      201 non-null    float64
 5   Tasa Fertilidad     214 non-null    object
 6   Edad Promedio       214 non-null    object
 7   % Poblacion Urbaba  214 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 13.5+ KB

In [12]:
#Devuelve true si hay algun valor nulo
df.isnull().values.any()

True

In [11]:
# Suma los valores nulos
df.isnull().sum()

Pais                   0
Poblacion (2020)       0
Densidad               0
Territorio (Km²)       0
Tasa Migracion        13
Tasa Fertilidad        0
Edad Promedio          0
% Poblacion Urbaba     0
dtype: int64

In [13]:
#Observar valores de la Tasa de fertilidad. Vemos que hay valores N.A
df['Tasa Fertilidad']

0       1.7
1       2.2
2       1.8
3       2.3
4       3.6
       ...
209    N.A.
210    N.A.
211    N.A.
212    N.A.
213    N.A.
Name: Tasa Fertilidad, Length: 214, dtype: object

In [23]:
df_check=df.isna()
total_nan_values = df['Tasa Fertilidad'].isna().sum()
print(total_nan_values)

0

In [30]:
#A pesar de que aparentemente no hay valores vacios se usa la funcion dropna para Borrar valores vacios
df_copy = df.dropna()
df_copy.info()
#Vemos que efectivamente se han borrado valores ya que la dimension de la tabla cambia
#Cambiamos los valores de tasa de fertilidad objeto a float para poder hacer la media
df_copy['Tasa Fertilidad']= df_copy['Tasa Fertilidad'].astype(float)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 200
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pais                201 non-null    object
 1   Poblacion (2020)    201 non-null    int64
 2   Densidad            201 non-null    int64
 3   Territorio (Km²)    201 non-null    int64
 4   Tasa Migracion      201 non-null    float64
 5   Tasa Fertilidad     201 non-null    object
 6   Edad Promedio       201 non-null    object
 7   % Poblacion Urbaba  201 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 14.1+ KB

C:\Users\108893\AppData\Local\Temp\ipykernel_21148\1414659593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['Tasa Fertilidad']= df_copy['Tasa Fertilidad'].astype(float)

In [31]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 200
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pais                201 non-null    object
 1   Poblacion (2020)    201 non-null    int64
 2   Densidad            201 non-null    int64
 3   Territorio (Km²)    201 non-null    int64
 4   Tasa Migracion      201 non-null    float64
 5   Tasa Fertilidad     201 non-null    float64
 6   Edad Promedio       201 non-null    object
 7   % Poblacion Urbaba  201 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 14.1+ KB

In [32]:
mean_data = df_copy["Tasa Fertilidad"].mean() #media
print("Media:", mean_data)

Media: 2.6930348258706465

2. ¿Que país tiene la Edad Promedio más alta y cual la más baja?

DR Congo : 15 años
Nepal: 48 años

In [87]:
df_edad_pais = df[["Pais","Edad Promedio"]]
df_edad_pais = df_edad_pais.dropna()
df_edad_pais.head()

             Pais Edad Promedio
0           China            38
1           India            28
2  Estados Unidos            38
3       Indonesia            30
4        Pakistán            23

In [89]:
len(df_edad_pais[pd.isnull(df_edad_pais['Edad Promedio'])])

0

In [92]:
df_edad_pais['Edad Promedio']=='N.A.'

0      False
1      False
2      False
3      False
4      False
       ...
209     True
210     True
211     True
212     True
213     True
Name: Edad Promedio, Length: 214, dtype: bool

In [94]:
filtro = df_edad_pais['Edad Promedio'] != "N.A."

In [96]:
#Visualizamos como queda el data set
df_filtrado = df_edad_pais[filtro]
df_filtrado['Edad Promedio']=='N.A.'

0      False
1      False
2      False
3      False
4      False
       ...
196    False
197    False
198    False
199    False
200    False
Name: Edad Promedio, Length: 201, dtype: bool

In [99]:
min_data=df_filtrado["Edad Promedio"].min() #mínimo
min_data

'15'

In [121]:
print (df_filtrado.iloc[15]['Pais'])

DR Congo

In [122]:
max_data=df_filtrado["Edad Promedio"].max() #máximo
max_data

'48'

In [123]:
print (df_filtrado.iloc[48]['Pais'])

Nepal

3. Agrupa los países por continente y obtén la mediana de la población urbana